<apex:page standardController="Opportunity">
<table style="border-width: 1px; border-color: #000080; border-style: solid;" border="0">
<tbody>

<tr>
<td rowspan="2">

<apex:image url="{!$Resource.NEW_Icon}"  width="48" height="48"/> 
</td>
<td>


<span style="font-size: small;"><strong>New Simplified Opportunity Layouts are here! </strong></span>

<span style="font-size: small;"><span style="font-family: arial, helvetica, sans-serif;"> 
 
<br></br>

As part of usability initiative, we cleaned up your page layout to make your experience more efficient and intuitive. 

Use this <a href="{!$Resource.Opportunity_manager_layout_4_0}" target="_top">walkthrough</a> to get familiar with the changes.


<br></br>
<em>
<span style="color: #000000; font-size: x-small;"><span style="font-family: arial, helvetica, sans-serif;">
Questions or Comments? <a href="https://na3.salesforce.com/servlet/servlet.Integration?lid=00b500000018NJ9&amp;eid=00550000001O3HC&amp;ic=1" target="_top">Contact us</a>.
</span></span></em>
</span></span>
</td>
</tr>
<tr>
<td>
</td>
</tr>
</tbody>
</table>
</apex:page>