<apex:page standardController="Opportunity" 
	extensions="ProductBundleController"
	action="{!IF(opportunity.pricebook2Id = null
			 , URLFOR($Action.OpportunityLineItem.ChoosePricebook, Opportunity.id, null, false)
			 , null)}">
			 
<apex:form >
<apex:sectionHeader title="Add Bundle" subtitle="{!Opportunity.name}"/>
<apex:pageMessages />

<apex:pageBlock >
	<apex:pageBlockButtons location="top">
		<apex:commandButton value="Update Bundle" action="{!updateBundle}" disabled="{!missingProducts}"/>
		<apex:commandButton value="Save" action="{!saveBundle}" disabled="{!missingProducts}"/>
		<apex:commandButton value="Cancel" action="{!cancel}"/>
	</apex:pageBlockButtons>
	<apex:pageBlockSection >
		<apex:pageBlockSectionItem >
			<apex:outputLabel for="price" value="Bundle Unit Price"/>
			<apex:inputField id="price" value="{!refObj.unitPrice}"/>
		</apex:pageBlockSectionItem>
		<apex:pageBlockSectionItem >
			<apex:outputLabel for="quantity" value="Bundle Quantity"/>
			<apex:inputText id="quantity" value="{!refObj.quantity}"/>
		</apex:pageBlockSectionItem>
	</apex:pageBlockSection>
</apex:pageBlock>

<apex:pageBlock >
	<apex:pageBlockTable value="{!bundleLineItems}" var="lineItem">
		<apex:column value="{!lineItem.pricebookEntry.product2.name}"/>
		<apex:column value="{!lineItem.quantity}"/>
		<apex:column value="{!lineItem.totalPrice}"/>
	</apex:pageBlockTable>
</apex:pageBlock>

</apex:form>

<!-- Force Standard controller to query fields I need -->
<apex:outputText value="{!opportunity.pricebook2Id}" rendered="false"/>

</apex:page>