<apex:page standardController="VCAS_ViewRight_Version__c" extensions="SLA_BetaAccessManagerController" showHeader="true" sidebar="true">
	<apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
	<apex:form >
		<apex:inputHidden value="{!VCAS_ViewRight_Version__c.Stage__c}"/>
		<apex:pageBlock title="Select Accounts to Grant Access">
        <apex:pagemessages />
			<apex:pageBlockButtons >
				<apex:commandButton rendered="{!VCAS_ViewRight_Version__c.Stage__c == 'Beta'}" action="{!selectAccounts}" value="Next"/>
                <apex:commandButton action="{!backToVersion}" value="Back"/>
			</apex:pageBlockButtons>
                <apex:outputPanel rendered="{!VCAS_ViewRight_Version__c.Stage__c == 'Beta'}">
    			Find Account: <input type="text" id="search" />
                    
                    <table id="tblData">
                    <tr>
                        <th>Selected</th>
                        <th>Account Name</th>
                    </tr>
                    <apex:repeat value="{!selectableAccounts}" var="page">
                        
                        <apex:repeat value="{!page}" var="a">
                          <tr>
                              <td><apex:inputCheckbox value="{!a.selected}" id="checkedone" /></td>
                              <td class="name">{!a.accountName}</td>
                          </tr>
                        </apex:repeat>
                        
                    </apex:repeat>
                    </table>
                    <!-- <apex:pageBlockTable value="{!selectableAccounts}" var="a" id="tblData">
    					<apex:column >
    						<apex:facet name="header">Selected</apex:facet>

    						<apex:inputCheckbox value="{!a.selected}" id="checkedone">
    						</apex:inputCheckbox>
    					</apex:column>

    					<apex:column headervalue="Account Name" value="{!a.account.name}" />
    				</apex:pageBlockTable> -->
                </apex:outputPanel>
		</apex:pageBlock>

		<script type="text/javascript">
			//Snippet borrowed from: http://sfdchack.blogspot.com/2012/09/search-record-in-page-block-table.html
			$(document).ready(function(){
                $('#search').keyup(function(){
                    searchTable($(this).val());
                });
            });

            function searchTable(searchText)
            {
                /*get Table using its Id */

                var table = document.getElementById('tblData');

                var rowLength = table.rows.length;
                
                searchText = searchText.toLowerCase();
                for(var i=1; i<rowLength; i+=1){
                    var row = table.rows[i];

                    var cell = row.cells[1];
                    var match = cell.innerHTML.toLowerCase().indexOf(searchText) != -1;
                    if(match){
                        $(row).show();
                    }else{
                        $(row).hide() 
                    }

                    // var regExp = new RegExp(searchText, 'i');
                    // if(regExp.test($(cell).text()))
                    // {
                    //     $(row).show();
                    // }else{
                    //     $(row).hide() 
                    // }
                }
 
                // table = $('#tblData');
                // table.find('tr').each(function(index, row){
                //     var allCells = $(row).find('.name');
                //     if(allCells.length > 0)
                //     {
                //         var found = false;
                //         allCells.each(function(index, td)
                //         {
                //             var regExp = new RegExp(searchText, 'i');
                //             if(regExp.test($(td).text()))
                //             {
                //                 found = true;
                //                 return false;
                //             }
                //         });
                //         if(found == true)$(row).show();else $(row).hide();
                //     }
                // });

            }           
		</script>

	</apex:form>
</apex:page>