<apex:page controller="SLA_LicenseRequestWizardController" showHeader="true" sidebar="false" action="{!initProjectSelect}" tabStyle="Request_Licenses__tab">
    <apex:composition template="SLA_LicenseRequestWizard_Master">
        <apex:define name="pageBlockButtons">
            <apex:commandButton rendered="false" value="Upgrade Software" action="{!upgradeSystem}"></apex:commandButton>
        </apex:define>
        <apex:define name="stepContent">
        <h1>Which order do you want to complete?</h1>
            <apex:pageBlockSection columns="1" title="Projects">
                <apex:pageBlockTable value="{!selectableProjects}" var="wrapper">
                    <apex:column >
                        <apex:facet name="header">Select</apex:facet>
                        <apex:inputCheckbox styleClass="proj_select" value="{!wrapper.selected}" onclick="updateSelected(this)" />
                    </apex:column>
                    <apex:column value="{!wrapper.project.Code__c}" />
                    <apex:column value="{!wrapper.project.PO_Date__c}" >
                        <apex:facet name="header">Purchase Order Date</apex:facet>
                    </apex:column>
                    <apex:column value="{!wrapper.project.Purchase_Order_Number__c}" />
                    <apex:column value="{!wrapper.project.System__r.hid_System_Unique_ID__c}" >
                        <apex:facet name="header">System</apex:facet>
                    </apex:column>
                    <apex:column value="{!wrapper.stepText}" />
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" title="Projects On Hold">
                <apex:pageBlockTable value="{!nonSelectableProjects}" var="wrapper">
                    <apex:column value="{!wrapper.project.Code__c}" />
                    <apex:column value="{!wrapper.project.PO_Date__c}" >
                        <apex:facet name="header">Purchase Order Date</apex:facet>
                    </apex:column>
                    <apex:column value="{!wrapper.project.Purchase_Order_Number__c}" />
                    <apex:column value="{!wrapper.project.System__r.hid_System_Unique_ID__c}" >
                        <apex:facet name="header">System</apex:facet>
                    </apex:column>
                    <apex:column value="{!wrapper.stepText}" />
                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:define>
    </apex:composition>

    <script> 
        function updateSelected(obj){
            $(".proj_select").each(function(index){
                if(this.name==obj.name)
                    $(this).prop('checked', true);
                else
                    $(this).prop('checked', false);
            });
        } 
    </script>

</apex:page>