<apex:page controller="SLA_LicenseRequestWizardController" showHeader="true" sidebar="false" action="{!initServers}" tabStyle="Request_Licenses__tab">
    <apex:composition template="SLA_LicenseRequestWizard_Master">
        <apex:define name="stepContent">
            <h1>Servers</h1>
            <p>You can enter up to <strong>{!maxServers}</strong> servers</p>
            <apex:pageBlockSection columns="1" title="Active Servers">
                <apex:pageBlockTable value="{!activeServers}" var="wrapper">
                    <apex:column rendered="{!wrapper.server.id == null}">
                        <apex:facet name="header">Host</apex:facet>
                        <apex:inputField value="{!wrapper.server.Name}"/>
                    </apex:column>
                    <apex:column rendered="{!wrapper.server.id == null}">
                        <apex:facet name="header">License Key</apex:facet>
                        <apex:inputField value="{!wrapper.server.Server_License_Key__c}"/>
                    </apex:column>
                    <apex:column rendered="{!wrapper.server.id == null}">
                        <apex:facet name="header">Role</apex:facet>
                        <apex:inputField value="{!wrapper.server.Server_Role__c}"/>
                    </apex:column>
                    <apex:column rendered="{!wrapper.server.id == null}">
                        <apex:commandButton rerender="myForm"  value="Remove" action="{!markServerInactive}">
                            <apex:param name="deletePos" value="{!wrapper.position}" />
                        </apex:commandButton>
                    </apex:column>
                    <apex:column rendered="{!wrapper.server.id != null}">
                        <apex:facet name="header">Host</apex:facet>
                        <apex:outputField value="{!wrapper.server.Name}"/>
                    </apex:column>
                    <apex:column rendered="{!wrapper.server.id != null}">
                        <apex:facet name="header">License Key</apex:facet>
                        <apex:outputField value="{!wrapper.server.Server_License_Key__c}"/>
                    </apex:column>
                    <apex:column rendered="{!wrapper.server.id != null}">
                        <apex:facet name="header">Role</apex:facet>
                        <apex:outputField value="{!wrapper.server.Server_Role__c}"/>
                    </apex:column>
                    <apex:column rendered="{!wrapper.server.id != null}">
                        <apex:commandButton rerender="myForm" onclick="return promptInactive({!wrapper.position});" value="Mark Inactive">
                            
                        </apex:commandButton>
                    </apex:column>
                </apex:pageBlockTable>
                <apex:commandButton value="New" action="{!addNewServer}" />
            </apex:pageBlockSection>

            <apex:pageBlockSection columns="1" title="Inactive Servers">
                Inactive servers cannot be made active again.  Open a support case if there is an issue.
                <apex:pageBlockTable value="{!inactiveServers}" var="server">
                    <apex:column >
                        <apex:facet name="header">Host</apex:facet>
                        <apex:outputField value="{!server.Name}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">License Key</apex:facet>
                        <apex:outputField value="{!server.Server_License_Key__c}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Role</apex:facet>
                        <apex:outputField value="{!server.Server_Role__c}"/>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:actionFunction action="{!markServerInactive}" name="removeItem" rerender="myForm">
                <apex:param name="deletePos" value="" />
            </apex:actionFunction>
        </apex:define>
    </apex:composition>

    
    <script> 
    //onclick="return promptInactive()" 
        function promptInactive(pos){
            if(confirm('Once a server is marked inactive this cannot be undone! Are you sure you want to do this?')){
                removeItem(pos);
                return true;
            }else{
                return false;
            }
        }
    </script>

</apex:page>