<apex:page controller="SLA_LicenseRequestWizardController" showHeader="true" sidebar="false" action="{!initClientDevices}" tabStyle="Request_Licenses__tab">
    <apex:composition template="SLA_LicenseRequestWizard_Master">
        <apex:define name="stepContent">
            <h1>Client Devices</h1>
            <p>Add all the client devices(STBs) used in the deployment. If you cannot find a model in the list, enter it in "Other - Model Name"</p>
            <apex:variable value="{!0}" var="rowNum"/>
            <apex:pageBlockTable value="{!clientDevices}" var="cDevice">
                 <apex:column >
                    <apex:facet name="header">Device Lookup</apex:facet>
                    <!-- Hack from http://kuldeeptyagi.blogspot.de/2011/05/salesforce-work-around-to-overcome-1000.html to show up to 20,000 records -->
                    <apex:selectList html-data-placeholder="Client Devices" styleClass="cd_chosen" value="{!cDevice.device.Model__c}">
                        <apex:selectOptions value="{!allClientDevices.0}"/>
                        <apex:selectOptions value="{!allClientDevices.1}"/>
                        <apex:selectOptions value="{!allClientDevices.2}"/>
                        <apex:selectOptions value="{!allClientDevices.3}"/>
                        <apex:selectOptions value="{!allClientDevices.4}"/>
                        <apex:selectOptions value="{!allClientDevices.5}"/>
                        <apex:selectOptions value="{!allClientDevices.6}"/>
                        <apex:selectOptions value="{!allClientDevices.7}"/>
                        <apex:selectOptions value="{!allClientDevices.8}"/>
                        <apex:selectOptions value="{!allClientDevices.9}"/>
                        <apex:selectOptions value="{!allClientDevices.11}"/>
                        <apex:selectOptions value="{!allClientDevices.12}"/>
                        <apex:selectOptions value="{!allClientDevices.13}"/>
                        <apex:selectOptions value="{!allClientDevices.14}"/>
                        <apex:selectOptions value="{!allClientDevices.15}"/>
                        <apex:selectOptions value="{!allClientDevices.16}"/>
                        <apex:selectOptions value="{!allClientDevices.17}"/>
                        <apex:selectOptions value="{!allClientDevices.18}"/>
                        <apex:selectOptions value="{!allClientDevices.19}"/>
                    </apex:selectList>
                 </apex:column>


                 <apex:column >
                 <h1>OR</h1>
                 </apex:column> 
                 <apex:column >
                    <apex:facet name="header">Other - Model Name</apex:facet>
                    <apex:inputField value="{!cDevice.device.Other_Client_Device_Name__c}"/>
                 </apex:column>
                 <!-- hack to get the dependant column to render -->
                 <apex:column >
                 <apex:facet name="header">Solution</apex:facet>
                    <apex:outputPanel >
                        <apex:inputField value="{!cDevice.device.Client_Device_Solutions__c}" />
                    </apex:outputPanel>
                 </apex:column>
                 <apex:column >
                    <apex:commandButton rerender="myForm" value="Remove Device" action="{!removeClientDevice}" oncomplete="runChosen();">
                        <apex:param name="deletePos" value="{!cDevice.position}" />
                    </apex:commandButton>
                 </apex:column>
            </apex:pageBlockTable>
            <script type="text/javascript">
                $(".cd_chosen").hide();
            </script>

            <apex:commandButton value="New" action="{!addNewClientDevice}" />
        </apex:define>
    </apex:composition>

    <script> 
        $(function(){
            runChosen();
        });
        function runChosen(){
            $(".cd_chosen").show();
            $('.cd_chosen').chosen({width: "90%"});
        }
    </script>
</apex:page>