<apex:page controller="SLA_LicenseRequestWizardController" showHeader="true" sidebar="false" action="{!initAccountSelect}" tabStyle="Request_Licenses__tab">
    <apex:composition template="SLA_LicenseRequestWizard_Master">
        <apex:define name="stepContent">
        {!test}
            <h1>Select the end user for these licenses</h1>
            <apex:pageBlockSection id="section" columns="1" title="Accounts">
                <apex:pageBlockSectionItem rendered="{!project.Account__c != null}">
                    <apex:inputCheckbox value="{!current}" styleClass="account_select" onclick="updateSelected(this)" ></apex:inputCheckbox>
                    <apex:outputText value="{!project.Account__r.name}" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!project.Ship_To__c != null}">
                    <apex:inputCheckbox value="{!direct}" styleClass="account_select" onclick="updateSelected(this)" ></apex:inputCheckbox>
                    Direct ({!project.ship_to__r.name})
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="item">
                    <apex:inputCheckbox value="{!other}" id="otherCB" styleClass="account_select" onclick="updateSelected(this);" ></apex:inputCheckbox>
                    <apex:outputPanel id="otherWrapper" layout="block">
                        <span>Other</span>
                        <apex:outputPanel id="otherPanel" layout="block">
                            <apex:outputLabel value="Company Name" for="companyName" />
                            <apex:inputText value="{!otherCompanyName}" id="companyName" />
                            <apex:outputLabel value="Company Location (country)" for="companyLocation" />
                            <apex:inputText value="{!otherCompanyLocation}" id="companyLocation" />
                        </apex:outputPanel>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
                <script> 
                
                    var otherFields = null;
                    $(function() {
                        otherFields = $('div[id$=otherPanel]');
                        otherFields.hide();
                    });

                    function updateSelected(obj){
                        $(".account_select").each(function(index){
                            if(this.name==obj.name){
                                $(this).prop('checked', true);
                            }else{
                                $(this).prop('checked', false);
                            }
                        });
                        
                        //stuff to hid other field  
                        var otherCb = $('input[id$=otherCB]');                  
                        if(otherCb.prop('checked')){
                            otherFields.show();
                        }else{
                            otherFields.hide();
                        }
                    } 
                </script>
        </apex:define>
    </apex:composition>

</apex:page>